<div class="masonry-wrapper">
  <div class="masonry">

<!--   Image 1 -->
  <div class="masonry-item">
    <img src="<%=  @pins['Interior Design'].nil? ? "" : @pins['Interior Design'].img_url%>" alt="Pinterest Interior Design Image" class="masonry-content">
  </div>

<!--   Quote 1 -->

    <div class="masonry-item">
      <div class="masonry-content" id="short-quote1">
        <%=  @quotes.empty? ? "" : "#{@quotes[0].content} - #{@quotes[0].author}" %>
      </div>
    </div>

<!--   Image 2 -->
  <div class="masonry-item">
    <img src="<%= @pins['Patterns & Textures'].nil? ? "" : @pins['Patterns & Textures'].img_url%>" alt="Pinterest Pattern/Texture Image" class="masonry-content">
  </div>

<!--   Image 3 -->
  <div class="masonry-item">
    <img src="<%= @pins['Heroes'].nil? ? "" : @pins['Heroes'].img_url%>" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 4 -->
  <div class="masonry-item">
    <img src="<%= @pins['Libraries'].nil? ? "" : @pins['Libraries'].img_url%>" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Quote 2 -->
  <div class="masonry-item">
    <div class="masonry-content" id="long-quote">
      <%=  @quotes.empty? ? "" : "#{@quotes[2].content} - #{@quotes[2].author}" %>
    </div>
  </div>

<!--   Image 6 -->
  <div class="masonry-item">
    <img src="<%= @pins['Travel'].nil? ? "" : @pins['Travel'].img_url%>" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 7 -->
  <div class="masonry-item">
    <img src="<%= @pins['Art'].nil? ? "" : @pins['Art'].img_url%>" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 8 -->
  <div class="masonry-item">
    <img src="<%= @pins['Plants'].nil? ? "" : @pins['Plants'].img_url%>" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 9 -->
  <div class="masonry-item">
    <img src="<%= @pins['Coffee Shops'].nil? ? "" : @pins['Coffee Shops'].img_url%>" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Quote 3 -->
  <div class="masonry-item">
    <div class="masonry-content" id="short-quote2">
      <%=  @quotes.empty? ? "" : "#{@quotes[1].content} - #{@quotes[1].author}" %>
    </div>
  </div>

  </div>
</div>
