<div class= "portfolio">
<h1> Projects </h1>
<p> Here is where I'll put my bio. Here is where I'll put my bio. Here is where I'll put my bio. Here is where I'll put my bio. </p>
<%= render "shared/portfolio-card" %>
<%= render "shared/portfolio-card" %>
<%= render "shared/portfolio-card" %>
<%= render "shared/portfolio-card" %>
<%= render "shared/portfolio-card" %>
<%= render "shared/portfolio-card" %>
<h1> Media </h1>
<p> Here is where I'll put my bio. Here is where I'll put my bio. Here is where I'll put my bio. Here is where I'll put my bio. </p>
<center>
<%= render "shared/media-card" %>
</center>
</div>
