<%= render "shared/navbar" %>
<%= render "shared/mini-banner" %>
<%= render "shared/avatar" %>
<%= %>
<h1> Waving from Rio de Janeiro! </h1>
<h2> I'm Kam. </h2>
<p> Here is where I'll put my bio. Here is where I'll put my bio. Here is where I'll put my bio. Here is where I'll put my bio. </p>
<p><%= render "shared/biz-cards" %></p>
<p><%= render "shared/footer" %></p>
