<%= render "shared/navbar" %>

<div class="wrapper">
  <header class="header">
    <div class="sponsor">
      Interested in sponsoring? <button class="btn-small">Learn More </button>
    </div>

    <div class="mode-div">
      Mode: <br>
      <%= render "shared/toggle-button" %>
    </div>

    <div class="subscribe-div">
      Subscribe: <br>
      <i class="fas fa-envelope fa-lg"></i>
      <i class="fas fa-rss-square fa-lg"></i>
    </div>
  </header>

  <aside class="sidebar">
    <div class="description-div">
      kamr.in is an inspiration blog run by Kamrin Klauschie. Kam co-founded apprenticeship.io, allyship.io, Onramp, and TEDxUCIrvine. Expect quotes, books, photography, interior design, art, travel, nature, beauty, and fun.
    </div>

    <div class="social-div">
      Follow:<br>
      <%= render "shared/social-media" %>
    </div>
  </aside>

  <article class="content">
    <%= render "shared/home-content" %>
  </article>

</div>

<%= render "shared/footer" %>
